<nav id="sidebar-icon-links">

  <a id="github-link" class="icon" title="Github Project" aria-label="Github Project" href="https://github.com/mbadamve">
    {% include svg/github.svg %}
  </a>
  <a id="github-download-link" class="icon" title="Resume" aria-label="Resume" href="/assests/MaheshBadamResume_NetApp.pdf">
    {% include svg/download.svg %}
  </a>



  <a class="icon" title="LinkedIn" aria-label="LinkedIn" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">

    {% include svg/linkedin.svg %}

    <span class="username">{{ site.linkedin_name }}</span>
  </a>

  <a class="icon" title="Email me" aria-label="Email me" href="mailto:maheshbadam945@gmail.com"">

{% include svg/arroba.svg %}


</a>

</nav>
